.c-stack {
  @apply py-16 overflow-x-hidden bg-black;

  .stack {
    @apply grid md:grid-cols-2;
  }

  .flip-card {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    cursor: pointer;
    margin-bottom: 1rem;

    .description {
      @apply text-white text-center;
    }

    p {
      font-size: 16px;
    }

    &:hover {
      transform: none;

      .flip-card-inner {
        transform: rotateY(180deg);
        transition: all 1s ease;
      }

      .flip-card-back {
        @apply visible;

        z-index: 10;
        transition: all 1s ease;
      }

      .flip-card-front {
        z-index: 9;
      }
    }
  }

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 300px;
    text-align: center;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
  }

  .flip-card-front,
  .flip-card-back {
    @apply h-full;

    position: absolute;
  }

  .flip-card-back {
    @apply invisible;

    color: black;
    transform: rotateY(180deg);
    transition: all 1.5s ease;
  }

  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    transition: all 1.5s ease;
  }
}