header#site-header {
  @apply fixed top-0 left-0 right-0 py-8 bg-black;

  z-index: 1001;

  .container {
    @apply flex justify-between;
  }


  .icon-menu {
    svg {
      path {
        stroke: #66fcf1;
      }
    }

    &:hover {
      svg {
        path {
          stroke: white;
        }
      }
    }
  }

  .logo-button {
    img {
      width: 24px;
      height: 24px;

      @screen lg {
        width: 30px;
        height: 30px;
      }
    }
  }
}