.btn {
  @apply py-4 px-6;

  border-radius: 4px;

  &-primary {
    @apply text-black font-bold border-2 border-winston-primary;
    background: linear-gradient(to right, transparent 50%, #66fcf1 50%);
    background-size: 200% 100%;
    background-position: bottom right;

    &:hover,
    &:focus,
    &:active {
      @apply border-2 border-winston-primary text-winston-primary;

      background-position: bottom left;
      transition: all .7s ease-out;
    }
  }

  &-outline-primary {
    @apply border-winston-primary border-2 text-winston-primary font-bold;

    background: linear-gradient(to right, #66fcf1 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: bottom right;

    &:hover,
    &:focus,
    &:active {
      @apply border-2 border-winston-primary text-black;

      background-position: bottom left;
      transition: all .7s ease-out;
    }
  }
}
